.App {
  text-align: center;
}

.move-card {
  display: inline-block;
  margin: 12px;
  padding: 12px;
  width: 25%;
  background: #ddd;
  text-align: left;
}

.line-break {
  white-space: pre-line;
  margin: 0px;
  background: #bbb;
}