html,
body,
ul,
li {
    margin: 0; 
    padding: 0;
}

html,
body,
#root {
    background: #000; 
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4vh;
    width: 100%;
    height: 100%;
}

input,
code {
    display: inline-block; 
    outline: none; 
    font: inherit; 
    border: none; 
    background: #FDE991; 
    padding: 0;
}

button {
    color: #999999; 
    cursor: pointer;
}

input {
    width: 50px;
}

/*#viewport {
    width: 500px; height: 500px; background: #C7433E; border: 10px solid #ED5D52; margin: 100px auto 0; position: relative;
}

#viewport .stack {
    width: 200px; height: 300px; background: #ED5D52; position: absolute; top: 100px; left: 50%; margin-left: -100px; border-radius: 10px;
}

#viewport .card {
    width: 200px; height: 300px; list-style: none; background: #fff; border-radius: 5px; position: absolute; top: 0; left: 0; box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2); line-height: 300px; text-align: center; font-size: 100px; border: 10px solid #ECECEC; box-sizing: border-box; cursor: default;
}*/


.App {
    height: 100vh; 
    width: 56.25vh; /* 1242/2208 * 100 = 56.25 */
    max-width: 56.25vh; /* 2208/1242 * 100 =  */
    max-height: 100vh;
    background: #fff;
    margin: auto;
    position: relative;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */

    overflow: hidden;
}

#header {
    display: table;
    position: relative;
    width: 101%;
    height: 9%;
    background: #fff;
    font-size: 2em;
    margin-bottom: -4px;
}
#header button {
    font-family: inherit;
    color: inherit;
    border: 0px solid white;
    font-size: inherit;
}
.logo {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #5276ED;
}
#header div {
    display: table-cell;
    vertical-align: middle;
}

#footer {
    position: relative;
    height: 7%;
    width: 101%;
    display: table;
    background: #fff;
    text-align: center;
}
#footer .control {
    width: 33%;
    display: table-cell;
    vertical-align: middle;
}
#footer .control button {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    border: none;
    background: #fff;
}
#footer .control button:hover {
    color: #5276ED;
}

/* Main card frame */
#viewport {
    position: relative;
    height: 80%;
    background: #fff;
    /*border: 0px solid #fff;*/
    margin: 10px 12px;
    /*background: rgb(62, 71, 199); 
    border: 10px solid rgb(82, 118, 237); */
}

#viewport .stack {
    width: 100%; 
    height: 100%; 
    background: #ED5D52; 
    position: absolute; 
    top: 0px; 
    left: 0px;
    margin-left: 0px; 
    border-radius: 10px;
    box-shadow: 0 0 32px rgba(0,0,0,.2), 
                0px 4px 4px rgba(0,0,0,.1);
    z-index: 1;
}

#viewport .card {
    width: 100%; 
    height: 100%; 
    list-style: none;
    border-radius: 8px; 
    position: absolute;
    background: #fff;
    top: 0; 
    left: 0; 
    /*box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2); */
    text-align: left; 
    font-size: 0.6em;
    line-height: 12px;
    box-sizing: border-box; 
    cursor: default;
    padding: 16px;
}

.advanced {
    background: red;
}
.intermediate {
    background: yellow;
}
.basic {
    background: green;
}

#viewport .move-name {
    width: 74%;
    display: inline-block;
    font-weight: bold;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1.8em;
    vertical-align: top;
}

#viewport .spring-box {
    width: 26%;
    display: inline-block;
    text-align: right;
    height: 14px;
}

#viewport .springs {
    width: 14px;
    height: 14px;
    margin: 1px;
    border-radius: 7px;
    background: yellow;
    display: inline-block;
    text-align: center;
}

#viewport .yellow {
    background: #f0ad4e;
}
#viewport .red {
    background: #d9534f;
}

#viewport .image-wrapper {
    display: block;
    height: 40vh;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-top: 4px;
}
#viewport .megaformer-image {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 4px;
    text-align: center;
    position: absolute;
}

#viewport .megaformer-image img {
  pointer-events: none;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

#viewport .move-block {
    width: 60%;
    display: inline-block;
    font-size: 1.2em;
}

#viewport .move-action {
    width: 40%;
    display: inline-block;
    text-align: right;
    margin: 1em 0;
    font-size: 1.2em;
}

#viewport .line-break {
    white-space: pre-line;
    margin: 0.25em 0px;
    padding: 0 1em;
    background: #ddd;
    line-height: 2em;
    font-size: 1.2em;
    border-radius: 4px;
}

#viewport .in-deck:nth-child(3) {
    top: 2px; transform: translate(2px, 2px) rotate(0.4deg);
}

#viewport .in-deck:nth-child(2) {
    top: 4px; transform: translate(-4px, -2px) rotate(-1deg);
}

.source {
    width: 500px; margin: 20px auto;
}

.source a {
    color: #C7433E;
}

.modal {
    height: 96vh;
    width: 53vh;
    max-width:53vh;
    max-height: 96vh;

    opacity: 1;
    background: white;
    box-shadow: 0px 0px 0px 256px rgba(0,0,0,0.5),
                4px 4px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    /*transition: 0.4s ease-out;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 5;
    text-align: center;
    
}
.off {
    opacity: 0;
    /*transition: 0.4s ease-out;*/
    
}

.modal .logo {
    font-size: 3em;
    margin: 0.2em;
}
.modal .content {
    height: 58vh;
    background: #eee;
    border-radius: 8px;
    margin: 12px;
    padding: 16px;
    overflow-y: auto;
}
.modal button {
    cursor: pointer;
    width: 40vh;
    color: white;
    background: #5276ED;
    border: 0px solid white;
    font-size: 1em;
    padding: 16px;
    margin: 12px;
    border-radius: 16px;
    font-weight: bold;
}



.swingLabel {
    pointer-events: none;
    background: white;
    border-radius: 4px;
    border-collapse: 0px;
    position: absolute;
    border: 0px solid;
    font-size: 12em;

    height: 97%;
    width: 97%;
    
    opacity: 0;
    z-index: 5;
    text-align: center;
    line-height: 40vh;
}

.swingLabelRight {
    color: green;
}

.swingLabelLeft {
    color: red;
}